@model UserProfileViewModel

@{
    ViewBag.Title = "Your Account";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <center>
                <h2>Account Information</h2>
            
                <div id="profile-img">
                    <div class="col-md-2">
                        <img class="profile_picture" src="@Model.ProfileImage" alt="" class="img-rounded img-responsive"/>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>
<br/>
<div class="account-display">
    <center>
        <b>Name:</b> @Model.Name<br/>
        <b>Email:</b> @Model.EmailAddress<br/>
        <b>Snack Permissions:</b> @Model.Permission<br/> 
        <b>Tako Koin Count:</b> @Model.TakoKoinCount<br/>
    </center>
</div>


