@model RequestModel

<html>
<head>
    <title>Request</title>
</head>

<body>
    @if (!User.Identity.IsAuthenticated)
    {
        <div>
            <center>
                <h1 class="text-danger">You are not authorized to view this page.</h1>
                <p class="text-danger">Please log into your account to view your current requests.</p>
            </center>
        </div>
    }
    else
    {
        <div>
            <center>
                <h1 class="text">Your Current Requests</h1>
            </center>
                   
            <div id="req_table">
                @if (Model.GetRequestsModel.RequestList.Count == 0)
                {
                    <center>There are no curernt requests for @Model.GetRequestsModel.Email</center>
                }
                else
                {
                    <center>
                        <table class="pure-table pure-table-bordered pure-table-striped" data-toggle="table" style="margin:50px">
                            <thead>
                            <tr>
                                <th>Email</th>
                                <th>Snack Brand</th>
                                <th>Snack Name</th>
                                <th>Count</th>
                                <th>Action</th>
                            </tr>
                            </thead>    
                   
                            <tbody>
                            @foreach (var request in Model.GetRequestsModel.RequestList)
                            {
                                @if (request._request_count > 0)
                                {
                                    <tr>
                                        <td>@request._email</td>
                                        <td>@request._snack_brand</td>
                                        <td>@request._snack_name</td>
                                        <td>@request._request_count</td>
                                        <td><button class="link"><a asp-area="" asp-controller="Request" asp-action="CancelRequest" asp-route-email="@request._email" asp-route-snack_brand="@request._snack_brand" asp-route-snack_name="@request._snack_name" asp-route-request_count="@request._request_count">Cancel</a></button></td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </center>               
                }
            </div>
        </div>
    }
</body>

</html>